$tabH:40px;
.flex {
    display: flex;
    display: -webkit-box;
}

.f-bd {
    position: relative;
    &::after {
        position: absolute;
        z-index: 2;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: top left;
        box-sizing: border-box;
        pointer-events: none;
        border: 0 solid rgba(0, 0, 0, .1);
    }
}

.f-bd-btm::after {
    border-bottom-width: 1px;
}

.f-bd-full::after {
    border-width: 1px;
}

.f-clear {
    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        overflow: hidden;
        content: ".";
    }
}

.f-thide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
}

.f-thide2,
.f-thide3,
.f-thide4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.f-thide2 {
    -webkit-line-clamp: 2;
}

.f-thide3 {
    -webkit-line-clamp: 3;
}

.f-thide4 {
    -webkit-line-clamp: 4;
}

.f-brk {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .f-bd:after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .f-bd:after,
    .u-cover:after,
    .u-face:after {
        width: 150%;
        height: 150%;
        -webkit-transform: scale(.666666);
        transform: scale(.666666);
    }
}